@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Libre+Baskerville:wght@700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  font-family: 'Libre Baskerville', serif;
  box-shadow: unset;
}


body {
  background: url(https://img.freepik.com/vetores-gratis/design-plano-de-fundo-escolar_23-2148587752.jpg);
  background-repeat: repeat-y;
  background-size: 100vw;
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    width: 100%;
}

header {
    background-color: hsl(0, 0%, 9%) ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6.5vh;
}

.span-header{
    font-family: 'Kanit', sans-serif;
    font-size: 6vw;
    font-weight: 600;
    color: rgb(236, 233, 233);
}

main {
    background-color: rgba(0, 0, 0, 0.726);
    padding: 2vh;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 32px;
    align-items: center;
    
}

section {
    background-color: rgb(236, 233, 233);;

    padding: 1.6vh;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 18px;
}

.section-apre {
    background-color: rgb(222,226,224);
    align-items: center;
    text-align: center;
}

.div-apre {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 12px;
}

.h2-apre {
    font-size: 2em;
    font-family: 'Kanit', sans-serif;
}

.gif-apre {
    width: 100%;
}

.sect-pm {
  text-align: center;
  width: 80%;
}

.section-manch {
    align-items: center;

}

.div-manch_cb {
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: space-between;
}

.h1-manch {
    font-size: 1.2em;
}

.div-manch_dds {
    display: flex;
    gap: 32px;
}

.div-dds {
    display: flex;
    gap: 6px;
}

.img-manch {
    width: 100%;
}

.manchete {
    font-size:0.8em ;
    display: flex;
    flex-direction: column;
    gap: 18px;
    padding-bottom: 32px;
}

li{
    font-size: 0.8em;
    margin: 10px;
    margin-left: 16px;
}

.h3-m2 {
    font-size: 20px;
}

.section-preview {
  gap: 14px;
  padding: 12px;
}

.h3-preview {
    font-size: 6vw;
}

.preview-dds {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.but {
  width: 12rem;
  border-radius: 4px;
  background: hsl(43, 96.4%, 56.3%);
  border:none;
  height: 2rem;
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 8vh;
  background: hsl(0, 0%, 9%);
}

.span-header-f {
  font-family: 'Kanit', sans-serif;
  font-size: 5vw;
  font-weight: 600;
  color: rgb(236, 233, 233);
}

.but-vp {
   width: 14rem;
   border-radius: 4px;
   background: hsl(142, 69.2%, 58%);
   border:none;
   height: 2rem;
   font-size: 0.8rem;
}

.div-ots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.sbr {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 32px;
  align-items: center;
  border: 6px solid  rgb(62, 46, 165);
  padding: 14px;
}

.sbr-h2 {
  font-size: 9vw;
  width: 50%;
  background-color:rgb(62, 46, 165);
  text-align: center;
  border-radius: 4px;
  color: beige;
}

.sbr-p-p {
  text-align: left;
}

.sbr-ul {
  list-style: circle;
  font-size: 6vw;
  left: 0;
}

.lis {
  text-decoration: none;
  text-align: left;
}

@media (min-width: 1200px){
  
  
  main {
    padding: 32px;
  }
  
  .section-apre {
    flex-direction: row;
    padding: 32px;
    width: 75%;
  }
  
  .section-preview {
    width: 60%;
  }

  .span-header {
    font-size: 2.6vw;
  }

  .h2-apre {
    font-size: 4vw;
  }

  .h3-preview {
    font-size: 2.5vw;
  }

  .sect-pm {
    width: 30%;
  }

  .p-dds {
    font-size: 1.6vw;
  }

  .img-manch {
    width: 75%;
  }

  .but {
    width: 30%;
    font-size: 1.3vw;
  }

  header {
    height: 4vw;
  }

  .section-manch {
    width: 80%;
  }

  .h1-manch {
    font-size: 2vw;
  }

  .img-manch {
  margin: auto;
  width: 60%;
  margin-bottom: 32px ;
}

.p-manchete {
  text-align: left;
  width: 70%;
  margin-left: 32px;
  font-size: 1.5vw;
}

.ul-m2 {
  padding-left: 32px;
}

li {
  font-size: 1.1vw;
}

.h3-m2 {
  font-size: 2vw;
}

.manchete {
  padding: 32px;
}

section {
  padding: 24px;
}

footer {
  height: 5vw;
  
}

.span-header-f{
  font-size: 3vw;
}

.but-vp {
  font-size: 1.2vw;
}

.sbr {
  width: 65%;
  padding: 32px;
}

.sbr-h2 {
  font-size: 2vw;
  width: 20%;
}

.sbr-ul {
  display: flex;
  list-style: circle;
}


}

