* {
  border:0;
  padding: 0;
  margin: 0;
  box-sizing: box-border;
}

header {
  height: 3em;
  background: hsl(142, 70.6%, 45.3%);
  display: flex;
  align-items: center;
  justify-content:space-around;
}

nav {
  display: none;
}

.span-header {
  font-size: 20px;
}